.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  padding: 0 20px;
  flex: none;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  justify-content: space-between;
}

.path {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.viewContainer {
  flex: 1;
  padding: 16px;
  display: flex;
  gap: 12px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  align-content: start;
}

.selected {
  background-color: #00a6ffea;
  color: white;
  font-weight: bold;
}

.item {
  width: 142px;
  height: 120px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  flex: none;
  width: 120px;
  height: 90px;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    -webkit-user-drag: none;
    vertical-align: bottom;
    border: 1px solid rgba(119, 127, 127, 0.254);
  }
}

.name {
  width: 98%;
  flex: none;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
